/* boxed */

/* Basic CSS functions */
@import url(/static/base.css);

/* Bookmarks & bookmark editor */
@import url(/static/bookmark.css);

/* Status bar style & colors */
@import url(/static/statusbar.css);

/* boxed overall settings */ 

body {
	font-family: tahoma;
	font-size: 11px;
	background-image: url("background.png");

	margin: 15px;
}

#topbar {
	background-image: url("logo.png");
	background-position: 10px 4px;
	background-repeat: no-repeat;
	height: 41px;
}

a {
	color: #00f;
	text-decoration: none;
}

a:hover {
	padding: 1px 4px;
	margin: -1px -4px;
	background-color: #888;
}

.infobox {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

.infobox-header {
	display: inline;
	margin-left: 20px;
	border: solid 1px #000;
	padding: 2px 8px;

	background-color: #aaa;
	position: relative;
	top: -2px;

	font-family: verdana;
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;

	z-index: 5;
}

.infobox-success .infobox-header {
	background-color: #afa;
}

.infobox-success .infobox-content {
	background-color: #cfc;
}

.infobox-error .infobox-header {
	background-color: #f00;
}

.infobox-error .infobox-content, .infobox-alert .infobox-content {
	background-color: #fcc;
}

ul.alert-summary {
	list-style-type: none;
	text-indent: 20px;
}

li.alert-summary-text-error {
	background: url(error-16.gif) left center no-repeat;
}

li.alert-summary-text-alert {
	background: url(alert-16.gif) left center no-repeat;
}

li.alert-summary-text-warning {
	background: url(warning-16.gif) left center no-repeat;
}

li.alert-summary-text-minor {
	background: url(information-16.gif) left center no-repeat;
}

#topbar, #navbar, .infobox-content, ul.config {
	border: solid 1px #000;
	padding: 10px 13px;

	background-color: #ddd;
	overflow: auto;
}

.infobox-content :first-child {
	margin-top: 0;
}

.infobox-content :last-child {
	margin-bottom: 0;
}

.infobox-content ul {
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.infobox-content ul#bookmarks li li {
	margin-left: 2em;
}

#navbar {
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: none;
	text-align: center;
	font-family: verdana;
	font-weight: bold;
}

#topbar h1 {
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
}

#navbar ul, .navbar ul {
	display: inline;
	text-align: center;
	padding: 0px;
}

#navbar li, .navbar li {
	display: inline;
	padding: 0px 5px;
}

#navlist .subnavlist {
    display:none;
}

.navlist-selected {
    border-bottom:3px solid #000;
}

.navlist-selected .subnavlist-selected { 
    margin:auto;
    width:50%;
    display:block;
    margin-top:5px;
	border: solid 2px #000;
	background-color: #eee;
	overflow: auto;
}

#selected-subnavbar {
    display:none;
}

div.configprefix {
	font-size: larger;
	text-transform: capitalize;
}

div.configprefix:before {
	content: "Section: ";
	font-weight: bold;
}

ul.config {
	display: block;
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 3px 5px;
}

li .configshortdesc {
	margin-top: 8px;
}

li .config {
	padding: 1px 4px;
}

li .configlongdesc {
	display: block;
	margin-bottom: 1ex;
}

.peer_connected {
	color: #080;
}

.peer_backed_off {
	color: #840;
}

.peer_disconnected, .peer_too_old {
	color: #444;
}

.peer_too_new {
	color: #f00;
}

.peer_never_connected {
	color: #444;
}

.peer_disabled {
	color: #444;
}

.peer_bursting {
	color: #444;
}

.peer_listening {
	color: #444;
}

.peer_listen_only {
	color: #444;
}

.peer_version_problem {
	color: #840;
}

.peer_idle_old {
	color: #840;
}

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.mark {
  color: #d0d0d0;
}

div.peercircle span.me {
  color: #0080ff;
  font-weight: bold;
}

div.peercircle span.connected {
  color: #008000;
  font-weight: bold;
}

div.peercircle span.backed_off {
  color: #008000;
  font-weight: bold;
}

div.peercircle span.disconnected {
  color: #d0d0d0;
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

div.histogramConnected {
  background-color: #008000;
}

div.histogramDisconnected {
  background-color: #d0d0d0;
}

th {
	text-align: center;
	background-color: #aaa;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #222;
	border-right: solid 1px #222;
	padding: 1px 3px;
}

table.column {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0px;
}

table.column tr {
	vertical-align: top;
}

table.column tr td {
	padding-left: 10px;
	padding-right: 10px;
}

table.column tr td.first {
	padding-left: 0px;
}

table.column tr td.last {
	padding-right: 0px;
}

ul.config li {
	display: table-row;
	width: 100%;
}

span.configshortdesc, span.config, span.configlongdesc {
	display: table-cell;
}

span.configlongdesc {
	display: none;
}

span.config {
	text-align: right;
}

.float-right infobox {
	float: right;
	width: 100%;
}

.bookmarkedit {
	margin-top: 1em;
	display: block;
}

.bookmarkedit > input {
	width: 100%;
}

.legend {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.right-align {
	text-align: right;
}

.unreadable-file {
	color: #f00;
}

table.requests {
	white-space: nowrap;
}

.request-progress {
	width: 100px;
	vertical-align: middle;
}

.progressbar {
	position: relative;
	border: solid 1px #000;
	height: 1.5em;
	width: 100px;
}

.progressbar-done {
	float: left;
	height: 1.5em;
	background-color: #4c4;
}

.progressbar-min {
	float: left;
	height: 1.5em;
	background-color: #ccc;
}

.progressbar-failed {
	float: left;
	height: 1.5em;
	background-color: #fcc;
}

.progressbar-failed2 {
	float: left;
	height: 1.5em;
	background-color: #f44;
}

.progress_fraction_finalized {
	position: absolute;
	top: 0.1em;
	left: 5px;
	font-weight: bold;
}

.progress_fraction_not_finalized {
	position: absolute;
	top: 0.1em;
	left: 5px;
	font-style: oblique;
	color: #333;
}

.warning {
	color: #f00;
	font-weight: bold;
}

/* vim: set ts=4: sw=4: */


div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
	background-color: #ffffff;
}

td.n2ntm-send-sent {
	background-color: #a7ffbc;
}

td.n2ntm-send-delayed {
	background-color: #ffeba7;
}

td.n2ntm-send-queued {
	background-color: #ffa7a7;
}

td.n2ntm-send-failed {
	background-color: #ffb7b7;
}

/* statusbar */

div#statusbar-container {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #ddd;
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid black;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	z-index:18;
}

div#statusbar {
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	display: inline-block;
	margin-bottom: -3px;
}

div#statusbar div.infobox-header {
	display: none;
}

div#statusbar div.infobox-content {
	border: none;
	background-color: #ddd;
	padding: 0;
	margin: 0;
}

div#statusbar div.separator {
	display: inline-block;
	background-color: black;
	width: 1px;
	margin-left: 9px;
	margin-right: 9px;
}

#content {
	margin-bottom:5em;
}
