/* layout-sky */

/* temporary included until this merged into base.css */
@import url(/static/base-new.css);

/* 
 * Overall Settings
 */

/*
 * Body and Page Header
 */

/*
 * Top Title Area
 */

#topbar {
	background-image: url(/static/themes/sky/logo.png);
	border-bottom-width: 0px;
}

/* 
 * Navigation
 */

/*matches both top-level and submenu links */
#navlist li {
	font-weight: bold;
}

/*
 * Alerts
 */

/* 
 * Infoboxes
 */

div.infobox-header {
	border-bottom-style: solid;
}

li.alert-summary-text-error {
	background-image: url(/static/themes/sky/error-16.png);
}

li.alert-summary-text-alert {
	background-image: url(/static/themes/sky/alert-16.png);
}

li.alert-summary-text-warning {
	background-image: url(/static/themes/sky/warning-16.png);
}

li.alert-summary-text-minor {
	background-image: url(/static/themes/sky/information-16.png);
}

/*
 * Content
 */

#content {
	left: 12.614em;
}

/*
 * Plugins Page
 */

/* 
 * Configuration Page
 */

ul.config li {
	border: none;
	margin: 0.667em;
	padding: 0.333em;
}

/* 
 * Darknet Page
 */

/* 
 * Statistics Page
 */

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.me {
  font-weight: bold;
}

div.peercircle span.connected {
  font-weight: bold;
}

div.peercircle span.backed_off {
  font-weight: bold;
}

div.peercircle span.disconnected {
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

/* 
 * Queue Page
 */

table.queue td,
table.queue th {
	font-size: 8pt;
}

div.queue_tabletitle {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 10pt;
}

table.queue span {
	font-size: 8pt;
}

div.progressbar {
	border-style: solid;
	border-width: 1px;
	float: left;
	height:15px;
	margin: 0px;
	margin-right: 3px;
	width: 130px;
}

div.progressbar-done {
	float: left;
	height:15px;
}

div.progressbar-min {
	float: left;
	height:15px;
}

div.progressbar-failed {
	float: left;
	height:15px;
}

div.progressbar-failed2 {
	float: left;
	height:15px;
}

/* Node to node text message */

#n2ntmtext {
	width: 100%;
}

#n2nbox input[type=submit] {
	width: 100%;
}

div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
}

/* 
 * Translation
 */

/* 
 * Statusbar
 */

div#statusbar-container {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: 1.2em;
	margin: 5px 0px 0px 0px;
	padding: 3px 3px 0px 3px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 18;
}

div#statusbar {
	margin: auto;
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	display: inline-block;
	float: none;
	margin-bottom: -3px;
}

div#statusbar div.separator {
	display: inline-block;
	margin-left: 9px;
	margin-right: 9px;
	width: 1px;
}

div#statusbar div.infobox-header {
	display: none;
}