/* sky */

/* Basic CSS functions */
@import url(/static/base.css);

/* Bookmarks & bookmark editor */
@import url(/static/bookmark.css);

/* Status bar style & colors */
@import url(/static/statusbar.css);

/* sky overall settings */

p, span, div, td, th, li, h1, h2, h3, h4, h5 {
	font-family: Arial;
	font-weight: normal;
	font-size: 11pt;
}

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
	background-color: #d0e2ff;
}

th, td {
	margin: 0;
	padding: 5px;
	border: 1px solid #b0b0d0;
}

pre, textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: 80%;
}

pre#reference {
	overflow: auto;
}

/* body and page header */

body {
	padding: 0;
	margin: 0;
	background-color: #f5f9ff;
}

/* page's topbar */

#topbar {
	margin: 0;
	padding: 5px;
	min-height: 50px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 30px 3px;
	background-color: #eaf2ff;
}

#topbar h1 {
	margin: 0;
	padding: 7px 0 0 0;
	text-align: center;
	font-size: 20pt;
}

/* navigation */

#navbar {
	margin-bottom: 0px;
	padding: 0;
	border-top: 1px solid #d0d0f0;
	background-color: #eaf2ff;
}

#navbar ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	border-collapse: collapse;
	border: 0px hidden;
}

#navbar li {
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	list-style-type: none;
	display: table-cell;
	text-align: center;
	border-left: 1px solid #d0d0f0;
}

#navbar li:hover {
	background-color: #75a9ff;
}

#navbar a {
	color: #000000;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

#navlist {

}

#navlist li {
    border-bottom: 3px solid #d0d0f0;
}

.navlist-selected {
    background:#999;
}

#selected-subnavbar {
	padding: 0;
	border-bottom: 1px solid #d0d0f0;
	background-color: #999;

}

#selected-subnavbar ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	border-collapse: collapse;
	border: 0px hidden;
}

#selected-subnavbar li {
	margin: 0px;
	list-style-type: none;
	display: table-cell;
	text-align: center;
	border-left: 1px solid #d0d0f0;
}

#selected-subnavbar li:hover {
	background-color: #75a9ff;
}

#selected-subnavbar a {
	color: #000000;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

#selected-subnavbar .submenuitem-selected {
    background:#56A6D1;
}

#navlist .subnavlist {
    display:none;
}

#navlist .subnavlist-selected {
    display:none;
}

/* alerts */

.alert-error {
	color: darkred;
}

.alert-warning {
	color: blue;
}

.alert-minor {
	color: green;
}

/* infoboxes */

div.infobox {
	margin: 10px;
	padding: 10px;
	background-color: #f6f9ff;
	border: 1px solid #b1ceff;
}

div.infobox div.infobox-header {
	margin: -10px -10px 10px -10px;
	padding: 10px 35px 10px 10px;
	border-bottom: 1px dotted #b1ceff;
	font-weight: bold;
	font-size: 11pt;
	background-color: #eaf2ff;
}

div.infobox-information div.infobox-header {
	background-color: #e5efff;
}

div.infobox-warning div.infobox-header {
	background-color: #f8f8c0;
}

div.infobox-alert {
	background-color: #f0e8e8;
}

div.infobox-alert div.infobox-header {
	background-color: #ffd0d0;
}

div.infobox-error {
	background-color: #f0e8e8;
}

div.infobox-error div.infobox-header {
	background-color: #ffd0d0;
}

div.infobox-query div.infobox-header {
	background-color: #f0f0e8;
}

div.infobox-success div.infobox-header {
	background-color: #c8f0c8;
}

div.infobox-summary-status-content {
	padding: 0px;
}

ul.alert-summary {
	list-style-type: none;
	text-indent: 20px;
	padding-left: 20px;
}

li.alert-summary-text-error {
	background: url(error-16.png) left center no-repeat;
}

li.alert-summary-text-alert {
	background: url(alert-16.png) left center no-repeat;
}

li.alert-summary-text-warning {
	background: url(warning-16.png) left center no-repeat;
}

li.alert-summary-text-minor {
	background: url(information-16.png) left center no-repeat;
}

/* content */

#content {
	padding: 0;
}

a {
	color: #000000;
}

a:hover {
	color: #7070bb;
}

.interfacelink {
	color: #000000;
	text-decoration: underline;
}

#activity {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* plugins page */

table.plugins {
	width: 100%;
}

table.plugins span {
	font-weight: bold;
}

table.plugins form {
	display: inline;
}

/* configuration page */

table.config_navigation {
	list-style-type: none;
	margin-top: 10px;
}

ul.config {
	margin: 0 0 5px 0;
	padding: 0;
	border: 1px solid #d0d0d0;
}

ul.config li {
	margin: 5px;
	padding: 5px;
	list-style: none;
	text-align: left;
	background-color: #e5efff;
}

ul.config span.configprefix {
	display: block;
	width: 100%;
	background-color: #e5efff;
	text-indent: 15px;
	font-weight: bold;
	font-size: 16pt;
}

ul.config span.configshortdesc {
	display: block;
	text-align: left;
	font-weight: bold;
	margin-right: 10px;
	width: 30%;
	float: left;
}

ul.config span.configlongdesc {
	display: block;
	clear: left;
}

span.config {
	width: 70%;
}

ul.config input[type=text] {
	width: 67%;
}

/* darknet page */

table.column {
	width: 100%;
	border: none;
}

table.column td {
	vertical-align: top;
	border: none;
	padding: 0;
}

table.column div {
	margin-top: 0;
	margin-bottom: 0;
}

table.column ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

table.darknet_connections {
	width: 100%;
}

table.darknet_connections th, table.darknet_connections td {
	font-size: 80%;
}

table.darknet_connections span {
	font-weight: bold;
	font-size: 80%;
}

table.darknet_connections span.peer_connected {
	color: #008000;
}

table.darknet_connections span.peer_backed_off {
	color: #706000;
}

table.darknet_connections span.peer_too_new {
	color: #d03333;
}

table.darknet_connections span.peer_too_old {
	color: #d0a0d0;
}

table.darknet_connections span.peer_disconnected {
	color: #d0d0d0;
}

table.darknet_connections span.peer_never_connected {
	color: #a0a0a0;
}

table.darknet_connections span.peer_disabled {
	color: #a0a0a0;
}

table.darknet_connections span.peer_bursting {
	color: #a0a0a0;
}

table.darknet_connections span.peer_listening {
	color: #a0a0a0;
}

table.darknet_connections span.peer_listen_only {
	color: #a0a0a0;
}

table.darknet_connections span.peer_version_problem {
	color: #d07070;
}

table.darknet_connections span.peer_idle_old {
	color: #d07070;
}

tr.messagetypes {
	text-align: center;
}

table.sentmessagetypes {
	display: inline;
}

table.receivedmessagetypes {
	display: inline;
}

table.sentmessagetypes th, table.sentmessagetypes td, table.receivedmessagetypes th, table.receivedmessagetypes td {
	font-size: 7pt;
}

#reftext {
	width: 100%;
}

#refurl {
	width: 100%;
}

#reffile {
	width: 100%;
}

/* statistics page */

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.mark {
  color: #d0d0d0;
}

div.peercircle span.me {
  color: #0080ff;
  font-weight: bold;
}

div.peercircle span.connected {
  color: #008000;
  font-weight: bold;
}

div.peercircle span.backed_off {
  color: #008000;
  font-weight: bold;
}

div.peercircle span.disconnected {
  color: #d0d0d0;
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

div.histogramConnected {
  background-color: #008000;
}

div.histogramDisconnected {
  background-color: #d0d0d0;
}

/* queue page */

table.queue th, table.queue td {
	font-size: 8pt;
}

div.queue_tabletitle {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 10pt;
}

table.queue span {
	font-size: 8pt;
}

table.queue span.failure_reason_unknown {
	color: #d0d0d0;
}

table.queue span.failure_reason_is {
}

table.queue span.progress_fraction_unknown {
	color: #d0d0d0;
}

table.queue span.progress_fraction_not_finalized {
}

table.queue span.progress_fraction_finalized {
	color: #008000;
}

table.queue span.number_of_files {
}

table.queue span.number_of_files {
}

table.queue span.filename_direct {
	color: #d0d0d0;
}

table.queue span.filename_none {
	color: #d0d0d0;
}

table.queue span.filename_is {
}

table.queue span.identifier_with_uri {
}

table.queue span.persistence_none {
}

table.queue span.persistence_reboot {
	color: #0000ff;
}

table.queue span.persistence_forever {
	color: #00b000;
}

table.queue span.mimetype_unknown {
	color: #d0d0d0;
}

table.queue span.mimetype_is {
}

table.queue span.filesize_unknown {
	color: #d0d0d0;
}

table.queue span.filesize_is {
}

table.queue span.key_unknown {
	color: #d0d0d0;
}

table.queue span.key_is {
}

div.progressbar {
	float: left;
	margin: 0px;
	margin-right: 3px;
	background-color: #f6f9ff;
	border: solid 1px #97beff;
	width: 130px;
	height:15px;
}

div.progressbar-done {
	float: left;
	background-color: #8092ff;
	height:15px;
}

div.progressbar-min {
	float: left;
	background-color: #cad2ff;
	height:15px;
}

div.progressbar-failed {
	float: left;
	background-color: #ffa0a0;
	height:15px;
}

div.progressbar-failed2 {
	float: left;
	background-color: #ffd0d0;
	background-color: #dd4040;
	height:15px;
}

tr.priority0, td.priority0 {
	background-color: #ffb7b7;
}

tr.priority1, td.priority1 {
	background-color: #ffcea7;
}

tr.priority2, td.priority2 {
	background-color: #ffeba7;
}

tr.priority3, td.priority3 {
	background-color: #ddffa7;
}

tr.priority4, td.priority4 {
	background-color: #a7ffbc;
}

tr.priority5, td.priority5 {
	background-color: #a7fff8;
}

tr.priority6, td.priority6 {
	background-color: #a7caff;
}

/* Node to node text message */
#n2ntmtext {
	width: 100%;
}

#n2nbox input[type=submit] {
	width: 100%;
}

div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
	background-color: #ffffff;
}

td.n2ntm-send-sent {
	background-color: #a7ffbc;
}

td.n2ntm-send-delayed {
	background-color: #ffeba7;
}

td.n2ntm-send-queued {
	background-color: #ffa7a7;
}

td.n2ntm-send-failed {
	background-color: #ffb7b7;
}

/* statusbar */

div#statusbar-container {
	background-color: #eaf2ff;
	font-size: 1.2em;
	padding-bottom: 0;
	border-top: 1px solid #d0d0f0;
	background-color: #eaf2ff;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	z-index:18;
}

div#statusbar {
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	display: inline-block;
	margin-bottom: -3px;
	float: none;
}

div#statusbar div.progressbar div.progress_fraction_finalized {
	float: left;
	overflow: hidden;
}

div#statusbar div.infobox-header {
	display: none;
}

div#statusbar div.infobox-content {
	border: none;
	padding: 0;
	margin: 0;
}

div#statusbar div.separator {
	display: inline-block;
	background-color: #d0d0f0;
	width: 1px;
	margin-left: 9px;
	margin-right: 9px;
}
