freenet-*
junitvmwatcher*
lib/
contrib/
generator/js/lib
generator/js/tests/lib
generator/js/tests/bin
generator/js/gwt-unitCache/

# Intellij
.idea/
*.iml
*.ipr
*.iws
*.swp
*.eml

# Eclipse
.settings
.classpath
.project
.settings
.externalToolBuilders

# SonarQube
.sonar/
.scannerwork/

# Gradle
build/
.gradle/
.gradletasknamecache
*.class
