/bin
/build
/dist
/freenet-*
/javadoc
/junitvmwatcher*
/lib
/generator/js/lib
/generator/js/tests/lib
/generator/js/tests/bin
/generator/js/gwt-unitCache/
/run
.classpath
*.swp
*.iml
*.ipr
*.iws
*~
\#*\#
/override.properties
/gradle.properties
debhelper-build-stamp
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
/debian/freenet/*
.gradle
gradle
debian/seednodes.fref
