/bin
/build
/build-test
/freenet-*
/javadoc
/junitvmwatcher*
/lib
/generator/js/lib
/generator/js/tests/lib
/generator/js/tests/bin
/src/freenet/clients/http/filter/CSSTokenizerFilter.java
.classpath
*.swp
*.iml
*.ipr
*.iws
.*
/build.properties
