body {
	margin: 10px;
	border: 3px double #356ace;
	background-image: url(background.png);
	background-repeat: repeat;
	padding: 10px;
	padding-top: 0px;
	min-height: 400px;
	position: relative;
}

#page {
}

#topbar {
	margin: 0px;
	margin-bottom: 10px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 51px;
	padding-left: 100px;
}

#navbar {
	float: left;
	border: 2px solid #5e88d8;
	margin-right: 10px;
	text-align: center;
	padding: 5px;
}

#navlist {
	display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
}

#navlist li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	font-weight: bold;
}

#navlist a {
	display: block;
	color: black;
}

#navlist a:visited {
	display: block;
	color: black;
}

#navlist a:active {
	display: block;
	color: black;
}

.infobox {
	border: 1px solid #5e88d8;
	padding: 5px;
	margin-bottom: 10px;
	display: table-cell;
}

#themeselect {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#themeselect ul {
	display: inline;
	margin: 0;
	padding: 0;
}

#themeselect ul li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
}

.themeitem a {
	text-decoration: none;
	color: black;
}

.currentthemeitem a {
	color: #356ace;
	font-weight: bold;
}
