body {
	margin: 10px;
	border: 3px double #356ace;
	background-image: url(background.png);
	background-repeat: repeat;
	padding: 10px;
	padding-top: 0px;
	min-height: 400px;
	position: relative;
}

#topbar {
	margin: 0px;
	margin-bottom: 10px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	min-height: 51px;
	padding-left: 100px;
}

#navbar {
	margin:0 5px 0 0;
	padding:10px;
	width:150px;
	float:right;
	border: 2px solid #5e88d8;
}

#navlist {
	margin: 0;
	padding: 0;
	text-align: center;
	text-align: left;
}

#navlist li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	font-weight: bold;
}

#navlist a {
	color: black;
}

#navlist a:visited {
	color: black;
}

#navlist a:active {
	color: black;
}

.infobox {
	border: 1px solid #5e88d8;
	padding: 5px;
	margin: 10px;
	margin-bottom: 10px;
	display: table-cell;
}

pre, textarea {
	font-size: 70%;
}

.boxhead {
	text-align: left;
	font-weight: bold;
	margin: -5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #5e88d8;
	padding-left: 5px;
}

#activity {
	border: 1px solid #5e88d8;
	padding: 5px;
	margin-bottom: 10px;
	display: table-cell;
	list-style-position: inside;
}

.config ul {
	border: 1px solid #5e88d8;
	padding: 5px;
	margin: 15px;
	list-style-position: inside;
	display: table;
}

.cancel {
	float: left;
}

.confirm {
	float: right;
}
