/* layout-grayandblue */

/* 
 * Overall Settings
 */

div,
h1,
h2,
h3,
h4,
h5,
li,
p,
span,
td,
th {
	font-family: Verdana;
	font-weight: normal;
	font-size: 10pt;
	line-height: 22px;
}

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
}

td,
th {
	margin: 0;
	padding: 5px;
	border-style: dotted;
	border-width: 1px;
}

pre,
textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: 8pt;
}

pre#reference {
	font-size: 8pt;
	overflow: auto;
}

pre,
table {
	margin: 0 0 5px 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

/*
 * Body and Page Header
 */

body {
	margin: 0;
	padding: 0;
}

/*
 * Top Title Area
 */

#topbar {
	background-image: url(/static/themes/grayandblue/logo.png);
	background-position: 200px 8px;
	background-repeat: no-repeat;
	margin: 0;
	min-height: 50px;
	padding: 5px;
}

#topbar h1 {
	font-size: 28px;
	font-weight:900;
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
}

/* 
 * Navigation
 */

div#navbar {
	border-width: 1px;
	border-style: dotted;
	float: left;
	margin: 5px 0px 10px 10px;
	padding: 10px;
	width: 135px;
}

div#navbar a {
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 1px;
}

div#navbar ul,
div#navbar ul li ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#navbar ul li ul {
	margin-left: 20px;
	padding-bottom: 1px;
	padding-top: 1px;
}

div#navbar ul li {
	padding-top: 5px;
}
div#navbar ul li ul li:first-child {
	padding-top: 0;
}

div#navbar ul#navlist li.navlist-selected ul li a,
div#navbar ul#navlist li ul li a {
	font-size: 0.9em;
}

/* this border is only displayed in dropdown mode */

ul.subnavlist-selected,
ul.subnavlist {
	border-width: 1px;
	border-style: dotted;
}

/*
 * Alerts
 */

/* 
 * Infoboxes
 */

div.infobox {
	border-style: dotted;
	border-width: 1px;
	margin: 0 0 5px 0;
	padding: 10px;
}

div.infobox div.infobox-header {
	background-position: right;
	background-repeat: no-repeat;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	font-family: verdana;
	font-size: 10pt;
	font-weight: bold;
	margin: -10px -10px 10px -10px;
	padding: 10px 35px 10px 10px;
}


div.infobox-information div.infobox-header {
	background-image: url(/static/themes/grayandblue/information.png);
}

div.infobox-warning div.infobox-header {
	background-image: url(/static/themes/grayandblue/warning.png);
}

div.infobox-alert div.infobox-header {
	background-image: url(/static/themes/grayandblue/alert.png);
}

div.infobox-error div.infobox-header {
	background-image: url(/static/themes/grayandblue/error.png);
}

div.infobox-query div.infobox-header {
	background-image: url(/static/themes/grayandblue/query.png);
}

div.infobox-success div.infobox-header {
	background-image: url(/static/themes/grayandblue/success.png);
}

ul.alert-summary {
	list-style-type: none;
	text-indent: 20px;
}

li.alert-summary-text-error {
	background: url(/static/themes/grayandblue/error-16.png) left center no-repeat;
}

li.alert-summary-text-alert {
	background: url(/static/themes/grayandblue/alert-16.png) left center no-repeat;
}

li.alert-summary-text-warning {
	background: url(/static/themes/grayandblue/warning-16.png) left center no-repeat;
}

li.alert-summary-text-minor {
	background: url(/static/themes/grayandblue/information-16.png) left center no-repeat;
}

/*
 * Content
 */

#content {
	margin: 5px 5px 5px 10px;
	padding: 0 0 2em 0;
	position: absolute;
	left: 167px;
	right: 0px;
}

.interfacelink {
	text-decoration: underline;
}

#activity {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*
 * Plugins Page
 */

table.plugins td,
table.plugins th {
	font-size: 8pt;
}

table.plugins span {
	font-weight: bold;
	font-size: 8pt;
}

table.plugins form {
	display: inline;
}

/* 
 * Configuration Page
 */

ul.config {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	margin: 0 0 5px 0;
	padding: 0;
}

ul.config li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	list-style: none;
	margin: 0;
	padding: 15px 10px 15px 10px;
	text-align: left;
}

div.configprefix {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	font-size: 16pt;
	font-variant: small-caps;
	font-weight: bold;
	margin: 0;
	padding: 10px 35px 10px 10px;
}

ul.config span.configshortdesc {
	font-weight: bold;
	float: left;
	text-align: left;
	width: 30%;
}

ul.config span.configlongdesc {
	display: block;
	text-align: left;
}

ul.config input[type=text] {
	width: 70%;
}

/* 
 * Darknet Page
 */

table.darknet_connections td,
table.darknet_connections th {
	font-size: 8pt;
}

table.column td {
	vertical-align: top;
}

table.column span,
table.darknet_connections span {
	font-weight: bold;
	font-size: 8pt;
}

table.column span {
	text-transform: uppercase;
}

div.infobox-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

tr.messagetypes {
	text-align: center;
}

table.sentmessagetypes {
	display: inline;
}

table.receivedmessagetypes {
	display: inline;
}

table.receivedmessagetypes td,
table.receivedmessagetypes th,
table.sentmessagetypes td,
table.sentmessagetypes th {
	font-size: 7pt;
}

/* 
 * Statistics Page
 */

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.me {
  font-weight: bold;
}

div.peercircle span.connected {
  font-weight: bold;
}

div.peercircle span.backed_off {
  font-weight: bold;
}

div.peercircle span.disconnected {
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

/* 
 * Queue Page
 */

table.queue td,
table.queue th {
	font-size: 8pt;
}

div.queue_tabletitle {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 10pt;
}

table.queue span {
	font-size: 8pt;
}

div.progressbar {
	border-style: solid;
	border-width: 1px;
	height: 18px;
	position: relative;
	width: 130px;
}

div.progressbar-done {
	float: left;
	height: 18px;
}

div.progressbar-min {
	float: left;
	height: 18px;
}

div.progressbar-failed {
	float: left;
	height: 18px;
}

div.progressbar-failed2 {
	float: left;
	height: 18px;
}

.progress_fraction_finalized {
	position: absolute;
	left: 5px;
	font-weight: bold;
}

.progress_fraction_not_finalized {
	position: absolute;
	left: 5px;
	font-style: italic;
}

/* Node to node text message */

div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
}

/* 
 * Translation
 */

/* 
 * Statusbar
 */

div#statusbar-container {
	border-style: dotted;
	border-width: 1px;
	margin: 10px 10px 0px 10px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 18;
}

div#statusbar {
	margin: auto;
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	border: none;
	display: inline-block;
	margin-bottom: 0px;
}

div#statusbar div.progressbar div.progress_fraction_finalized {
	float: left;
	overflow: hidden;
}

div#statusbar div.separator {
	background: none;
	border-left-style: dotted;
	border-left-width: 1px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 8px;
	width: 1px;
}

div#statusbar div.infobox-header {
	display: none;
}