/* layout-grayandblue */

/* temporary included until this merged into base.css */
@import url(/static/base-new.css);

/* 
 * Overall Settings
 */

/* base font settings for entire page */

div,
body,
h1,
h2,
h3,
h4,
h5,
li,
p,
span,
td,
th {
	font-family: Verdana;
	font-size: 10pt;
}*/

td,
th {
	border-style: dotted;
}

form {
	margin: 0;
}

/*
 * Body and Page Header
 */

/*
 * Top Title Area
 */

#topbar {
	background-image: url(/static/themes/grayandblue/logo.png);
	background-position: 200px 8px;
	border-bottom-width: 0px;
}

#topbar h1 {
	font-size: 2.1em;
	font-weight: 900;
	padding-top: 20px;
}

/* 
 * Navigation
 */

div#navbar {
	width: 10.125em;
}

div#navbar, div#selected-subnavbar {
	border-style: dotted;
}

/*matches both top-level and submenu links */
#navlist li {
	font-weight: bold;
}

/*matches only submenu links */
#navlist li ul li,
#selected-subnavbar-list li {
	font-weight: bold;
}

ul.subnavlist-selected,
ul.subnavlist {
	margin-left: .75em;
}

/* this border is only displayed in dropdown mode */

ul.subnavlist-selected,
ul.subnavlist {
	border-style: dotted;
}

/*
 * Alerts
 */

/* 
 * Infoboxes
 */

div.infobox {
	border-style: dotted;
	border-width: 1px;
	margin: 0 0 10px 0;
	padding: 10px;
}

div.infobox div.infobox-header {
	background-position: right;
	background-repeat: no-repeat;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	font-family: verdana;
	font-size: 10pt;
	font-weight: bold;
	margin: -10px -10px 10px -10px;
	padding: 10px 35px 10px 10px;
}


div.infobox-information div.infobox-header {
	background-image: url(/static/themes/grayandblue/information.png);
}

div.infobox-warning div.infobox-header {
	background-image: url(/static/themes/grayandblue/warning.png);
}

div.infobox-alert div.infobox-header {
	background-image: url(/static/themes/grayandblue/alert.png);
}

div.infobox-error div.infobox-header {
	background-image: url(/static/themes/grayandblue/error.png);
}

div.infobox-query div.infobox-header {
	background-image: url(/static/themes/grayandblue/query.png);
}

div.infobox-success div.infobox-header {
	background-image: url(/static/themes/grayandblue/success.png);
}

ul.alert-summary {
	list-style-type: none;
	text-indent: 20px;
}

li.alert-summary-text-error {
	background: url(/static/themes/grayandblue/error-16.png) left center no-repeat;
}

li.alert-summary-text-alert {
	background: url(/static/themes/grayandblue/alert-16.png) left center no-repeat;
}

li.alert-summary-text-warning {
	background: url(/static/themes/grayandblue/warning-16.png) left center no-repeat;
}

li.alert-summary-text-minor {
	background: url(/static/themes/grayandblue/information-16.png) left center no-repeat;
}

/*
 * Content
 */

#content {
	margin-top: 10px;
	position: absolute;
	left: 160px;
	right: 10px;
}

.interfacelink {
	text-decoration: underline;
}

#activity {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*
 * Plugins Page
 */

table.plugins td,
table.plugins th {
	font-size: 8pt;
}

table.plugins span {
	font-weight: bold;
	font-size: 8pt;
}

table.plugins form {
	display: inline;
}

/* 
 * Configuration Page
 */

ul.config {
	border-top-width: 1px;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	margin: 0 0 5px 0;
	padding: 0;
}

ul.config li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	list-style: none;
	margin: 0;
	padding: 15px 10px 15px 10px;
	text-align: left;
}

div.configprefix {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	font-size: 16pt;
	font-variant: small-caps;
	font-weight: bold;
	margin: 0;
	padding: 10px 35px 10px 10px;
}

ul.config span.configshortdesc {
	font-weight: bold;
	float: left;
	text-align: left;
	width: 30%;
}

ul.config span.configlongdesc {
	display: block;
	text-align: left;
}

ul.config input[type=text] {
	width: 70%;
}

/* 
 * Darknet Page
 */

table.darknet_connections td,
table.darknet_connections th {
	font-size: 8pt;
}

table.column td {
	vertical-align: top;
}

table.column span,
table.darknet_connections span {
	font-weight: bold;
	font-size: 8pt;
}

table.column span {
	text-transform: uppercase;
}

div.infobox-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

tr.messagetypes {
	text-align: center;
}

table.sentmessagetypes {
	display: inline;
}

table.receivedmessagetypes {
	display: inline;
}

table.receivedmessagetypes td,
table.receivedmessagetypes th,
table.sentmessagetypes td,
table.sentmessagetypes th {
	font-size: 7pt;
}

/* node reference */

pre#reference {
	overflow: auto;
}

/* 
 * Statistics Page
 */

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.me {
  font-weight: bold;
}

div.peercircle span.connected {
  font-weight: bold;
}

div.peercircle span.backed_off {
  font-weight: bold;
}

div.peercircle span.disconnected {
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

/* 
 * Queue Page
 */

table.queue td,
table.queue th {
	font-size: 8pt;
}

div.queue_tabletitle {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 10pt;
}

table.queue span {
	font-size: 8pt;
}

div.progressbar {
	border-style: solid;
	border-width: 1px;
	height: 18px;
	position: relative;
	width: 130px;
}

div.progressbar-done {
	float: left;
	height: 18px;
}

div.progressbar-min {
	float: left;
	height: 18px;
}

div.progressbar-failed {
	float: left;
	height: 18px;
}

div.progressbar-failed2 {
	float: left;
	height: 18px;
}

.progress_fraction_finalized {
	position: absolute;
	left: 5px;
	font-weight: bold;
}

.progress_fraction_not_finalized {
	position: absolute;
	left: 5px;
	font-style: italic;
}

/* Node to node text message */

div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
}

/* 
 * Translation
 */

/* 
 * Statusbar
 */

div#statusbar-container {
	border-style: dotted;
	border-width: 1px;
	margin: 10px 10px 0px 10px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 18;
}

div#statusbar {
	margin: auto;
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	border: none;
	display: inline-block;
	margin-bottom: 0px;
}

div#statusbar div.progressbar div.progress_fraction_finalized {
	float: left;
	overflow: hidden;
}

div#statusbar div.separator {
	background: none;
	border-left-style: dotted;
	border-left-width: 1px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 8px;
	width: 1px;
}

div#statusbar div.infobox-header {
	display: none;
}