/* layout-grayandblue */

/* temporary included until this merged into base.css */
@import url(/static/base-new.css);

/* 
 * Overall Settings
 */

/* base font settings for entire page */

div,
body,
h1,
h2,
h3,
h4,
h5,
li,
p,
span,
td,
th {
	font-family: Verdana;
	font-size: 10pt;
}

table,
td,
th,
thead {
	border-style: dotted;
}

form {
	margin: 0;
}

/*
 * Body and Page Header
 */

/*
 * Top Title Area
 */

#topbar {
	background-image: url(/static/themes/grayandblue/logo.png);
	background-position: 200px 8px;
	border-bottom-width: 0px;
}

#topbar h1 {
	font-size: 2.1em;
	font-weight: 900;
	padding-top: 20px;
}

/* 
 * Navigation
 */

div#navbar {
	width: 10.125em;
}

div#navbar, div#selected-subnavbar {
	border-style: dotted;
}

/*matches both top-level and submenu links */
#navlist li {
	font-weight: bold;
}

/*matches only submenu links */
#navlist li ul li,
#selected-subnavbar-list li {
	font-weight: bold;
}

ul.subnavlist-selected,
ul.subnavlist {
	margin-left: .75em;
}

/* this border is only displayed in dropdown mode */

ul.subnavlist-selected,
ul.subnavlist {
	border-style: dotted;
}

/*
 * Alerts
 */

/* 
 * Infoboxes
 */

div.infobox {
	border-style: dotted;
}

div.infobox-information div.infobox-header {
	background-image: url(/static/themes/grayandblue/information.png);
}

div.infobox-warning div.infobox-header {
	background-image: url(/static/themes/grayandblue/warning.png);
}

div.infobox-alert div.infobox-header {
	background-image: url(/static/themes/grayandblue/alert.png);
}

div.infobox-error div.infobox-header {
	background-image: url(/static/themes/grayandblue/error.png);
}

div.infobox-query div.infobox-header {
	background-image: url(/static/themes/grayandblue/query.png);
}

div.infobox-success div.infobox-header {
	background-image: url(/static/themes/grayandblue/success.png);
}

li.alert-summary-text-error {
	background-image: url(/static/themes/grayandblue/error-16.png);
}

li.alert-summary-text-alert {
	background-image: url(/static/themes/grayandblue/alert-16.png);
}

li.alert-summary-text-warning {
	background-image: url(/static/themes/grayandblue/warning-16.png);
}

li.alert-summary-text-minor {
	background-image: url(/static/themes/grayandblue/information-16.png);
}

/*
 * Content
 */

#content {
	left: 11.626em;
}

/*
 * Plugins Page
 */

/* 
 * Configuration Page
 */

/* 
 * Darknet Page
 */

/* 
 * Statistics Page
 */

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.me {
  font-weight: bold;
}

div.peercircle span.connected {
  font-weight: bold;
}

div.peercircle span.backed_off {
  font-weight: bold;
}

div.peercircle span.disconnected {
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

/* 
 * Queue Page
 */

table.queue td,
table.queue th {
	font-size: 8pt;
}

div.queue_tabletitle {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 10pt;
}

table.queue span {
	font-size: 8pt;
}

div.progressbar {
	border-style: solid;
	border-width: 1px;
	height: 18px;
	position: relative;
	width: 130px;
}

div.progressbar-done {
	float: left;
	height: 18px;
}

div.progressbar-min {
	float: left;
	height: 18px;
}

div.progressbar-failed {
	float: left;
	height: 18px;
}

div.progressbar-failed2 {
	float: left;
	height: 18px;
}

.progress_fraction_finalized {
	position: absolute;
	left: 5px;
	font-weight: bold;
}

.progress_fraction_not_finalized {
	position: absolute;
	left: 5px;
	font-style: italic;
}

/* Node to node text message */

div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
}

/* 
 * Translation
 */

/* 
 * Statusbar
 */

div#statusbar-container {
	border-style: dotted;
	border-width: 1px;
	margin: 10px 10px 0px 10px;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 18;
}

div#statusbar {
	margin: auto;
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	border: none;
	display: inline-block;
	margin-bottom: 0px;
}

div#statusbar div.progressbar div.progress_fraction_finalized {
	float: left;
	overflow: hidden;
}

div#statusbar div.separator {
	background: none;
	border-left-style: dotted;
	border-left-width: 1px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 8px;
	width: 1px;
}

div#statusbar div.infobox-header {
	display: none;
}