/* grayandblue-classic theme */

/* navigation behavior */
@import url(/static/behavior-classic.css);

/* layout */
@import url(/static/themes/grayandblue/layout.css);

/* color scheme */
@import url(/static/themes/grayandblue/color.css);
