/* color-clean */

/* 
 * Overall Settings
 */

/*
 * Body and Page Header
 */

/*
 * Top Title Area
 */

/* 
 * Navigation
 */

/*
 * Alerts
 */

/* 
 * Infoboxes
 */

/*
 * Content
 */

/*
 * Plugins Page
 */

/* 
 * Configuration Page
 */

/* 
 * Darknet Page
 */

/* 
 * Statistics Page
 */

/* 
 * Queue Page
 */

/* 
 * N2NTM page
 */

/* 
 * Translation
 */

/* 
 * Statusbar
 */
