/* color-clean */

/* overall settings */

th {
	background-color: #e8e8e8;
}

th, td {
	border-color: #d0d0d0;
}

/* body and page header */

body {
	background-color: #f0f0f0;
}

/* page's topbar */

#topbar {
	background-color: #e8e8e8;
	border-bottom-color: #d0d0d0;
}

/* navigation */

div#navbar {
	background-color: #e8e8e8;
	border-color: #d0d0d0;
}

div#navbar a:hover {
	color: red;
}

div#navbar ul#navlist li.navlist-selected ul.subnavlist-selected li.submenuitem-selected a {
	color: blue;
}

div#navbar ul#navlist li.navlist-selected a {
	color: blue;	
	background-color: #ddd;
}

div#navbar ul#navlist li.navlist-selected ul li a, div#navbar ul#navlist li ul li a {
	background-color: inherit;
	color: #666;
}

div#navbar ul#navlist li:hover ul.subnavlist {
	color: gray;
}

div#navbar a:hover, div#navbar ul#navlist li.navlist-selected ul.subnavlist-selected li.submenuitem-selected a {
	background-color: #e0e0e0;
}

div#navbar ul#navlist li ul li a:hover, div#navbar ul#navlist li.navlist-selected ul.subnavlist-selected li a:hover {
	color: #111;
	background-color: #e0e0e0;
}

/* alerts */

.alert-error {
	color: darkred;
}

.alert-warning {
	color: blue;
}

.alert-minor {
	color: green;
}

/* infoboxes */

div.infobox {
	background-color: #f0f0f0;
	border-color: #d0d0d0;
}

div.infobox div.infobox-header {
	border-bottom-color: #a0a0a0;
	background-color: #e8e8e8;
}

div.infobox-information div.infobox-header {
	background-color: #e8e8f0;
}

div.infobox-warning div.infobox-header {
	background-color: #f8f8c0;
}

div.infobox-alert {
	background-color: #f0e8e8;
}

div.infobox-alert div.infobox-header {
	background-color: #ffd0d0;
}

div.infobox-error {
	background-color: #f0e8e8;
}

div.infobox-error div.infobox-header {
	background-color: #ffd0d0;
}

div.infobox-query div.infobox-header {
	background-color: #f0f0e8;
}

div.infobox-success div.infobox-header {
	background-color: #e8f0e8;
}

/* content */

a {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

.interfacelink {
	color: #000000;
}

/* plugins page */

/* configuration page */

ul.config {
	border-top-color: #d0d0d0;
	border-right-color: #d0d0d0;
	border-left-color: #d0d0d0;
}

ul.config li {
	border-bottom-color: #d0d0d0;
}

ul.config {
	border-bottom-color: #a0a0a0;
	background-color: #e8e8e8;
}

/* darknet page */

span.peer_connected {
	color: #008000;
}

span.peer_backed_off {
	color: #ff8c00;
}

span.peer_too_new {
	color: #ff0000;
}

span.peer_too_old {
	color: #d0a0d0;
}

span.peer_disconnected {
	color: #d0d0d0;
}

span.peer_routing_disabled {
        color: #7b68ee;
}

span.peer_never_connected {
	color: #a0a0a0;
}

span.peer_disabled {
	color: #a0a0a0;
}

span.peer_bursting {
	color: #a0a0a0;
}

span.peer_listening {
	color: #a0a0a0;
}

span.peer_listen_only {
	color: #a0a0a0;
}

span.peer_version_problem {
	color: #d07070;
}

span.peer_idle_old {
	color: #d07070;
}

tr.darknet_connections_warning {
	background-color: #ffff00;
}

/* statistics page */

div.peercircle span.mark {
  color: #d0d0d0;
}

div.peercircle span.me {
  color: #0080ff;
}

div.peercircle span.connected {
  color: #008000;
}

div.peercircle span.backed_off {
  color: #008000;
}

div.peercircle span.disconnected {
  color: #d0d0d0;
}

div.histogramConnected {
  background-color: #008000;
}

div.histogramDisconnected {
  background-color: #d0d0d0;
}

/* queue page */

table.queue span.failure_reason_unknown {
	color: #d0d0d0;
}

table.queue span.progress_fraction_unknown {
	color: #d0d0d0;
}

table.queue span.filename_direct {
	color: #d0d0d0;
}

table.queue span.filename_none {
	color: #d0d0d0;
}

table.queue span.persistence_reboot {
	color: #0000ff;
}

table.queue span.persistence_forever {
	color: #00b000;
}

table.queue span.mimetype_unknown {
	color: #d0d0d0;
}

table.queue span.filesize_unknown {
	color: #d0d0d0;
}

table.queue span.key_unknown {
	color: #d0d0d0;
}

.progressbar {
	border-color: #444444;
	background-color: #e8e8e8;
}

.progressbar-done {
	background-color: #44cc44;
}

.progressbar-min {
	background-color: #cce8cc;
}

.progressbar-failed {
	background-color: #ffcccc;
}

.progressbar-failed2 {
	background-color: #ff4444;
}

tr.priority0, td.priority0 {
	background-color: #ffb7b7;
}

tr.priority1, td.priority1 {
	background-color: #ffcea7;
}

tr.priority2, td.priority2 {
	background-color: #ffeba7;
}

tr.priority3, td.priority3 {
	background-color: #ddffa7;
}

tr.priority4, td.priority4 {
	background-color: #a7ffbc;
}

tr.priority5, td.priority5 {
	background-color: #a7fff8;
}

tr.priority6, td.priority6 {
	background-color: #a7caff;
}

div.n2ntm-message-text {
	background-color: #ffffff;
}

td.n2ntm-send-sent {
	background-color: #a7ffbc;
}

td.n2ntm-send-delayed {
	background-color: #ffeba7;
}

td.n2ntm-send-queued {
	background-color: #ffa7a7;
}

td.n2ntm-send-failed {
	background-color: #ffb7b7;
}

/* translation */

.translate_d {
	background-color: #f0fef0;
}

/* statusbar */

div#statusbar-container {
	background-color: #d8d8d8;
	border-top-color: #d0d0d0;
	border-bottom-color: #d0d0d0;
}

div#statusbar div.separator {
	background-color: #d0d0d0;
}