/* overall settings */

p, span, div, td, th, li, h1, h2, h3, h4, h5 {
	font-family: Arial;
	font-weight: normal;
	font-size: 11pt;
}

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
	background-color: #e8e8e8;
}

th, td {
	margin: 0;
	padding: 5px;
	border: 1px solid #d0d0d0;
}

pre, textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: 8pt;
}

pre#reference {
		overflow:auto;
}

table, pre {
	margin: 0 0 5px 0;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

/* body and page header */

body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

#page {
}

/* page's topbar */

#topbar {
	margin: 0;
	padding: 5px;
	min-height: 50px;
	background-color: #e8e8e8;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 30px 3px;
	border-bottom: 1px solid #d0d0d0;
}

#topbar h1 {
	margin: 0;
	padding: 7px 0 0 0;
	text-align: center;
	font-size: 20pt;
}

/* navigation */

#navbar {
	margin: 5px 5px 0 0;
	padding: 10px;
	position: absolute;
	width: 150px;
	background-color: #e8e8e8;
	border: 1px solid #d0d0d0;
}

#navbar ul {
	margin: 0 0 0 30px;
	padding: 0;
}

#navbar li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navbar a {
	color: #000000;
	text-decoration: none;
}

#navbar a:hover {
	color: #ff0000;
}

/* alerts */

.alert-error {
	color: darkred;
}

.alert-warning {
	color: blue;
}

.alert-minor {
	color: green;
}

/* infoboxes */

div.infobox {
	margin: 0 0 5px 0;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

div.infobox div.infobox-header {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	border-bottom: 1px dotted #a0a0a0;
	font-weight: bold;
	font-size: 11pt;
	background-color: #e8e8e8;
	background-repeat: no-repeat;
	background-position: right;
}

div.infobox-information div.infobox-header {
	background-color: #e8e8f0;
	background-image: url(information.gif);
	padding-right: 35px;
}

div.infobox-warning div.infobox-header {
	background-color: #f8f8c0;
	background-image: url(warning.gif);
}

div.infobox-alert {
	background-color: #f0e8e8;
}

div.infobox-alert div.infobox-header {
	background-color: #ffd0d0;
	background-image: url(alert.gif);
}

div.infobox-error {
	background-color: #f0e8e8;
}

div.infobox-error div.infobox-header {
	background-color: #ffd0d0;
	background-image: url(error.gif);
}

div.infobox-query div.infobox-header {
	background-color: #f0f0e8;
	background-image: url(query.gif);
}

div.infobox-success div.infobox-header {
	background-color: #e8f0e8;
	background-image: url(success.gif);
}

/* content */

#content {
	margin: 5px 5px 5px 0;
	padding: 0;
	position: absolute;
	left: 177px;
}

a {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

.interfacelink {
	color: #000000;
	text-decoration: underline;
}

#activity {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* configuration page */

ul.config {
	margin: 0 0 5px 0;
	padding: 0;
	border: 1px solid #d0d0d0;
}

ul.config li {
	margin: 0;
	padding: 15px;
	list-style: none;
	text-align: right;
}

ul.config span.configdesc {
	display: block;
	text-align: center;
	font-weight: bold;
}

ul.config span.configkey {
	padding: 0 10px 0 0;
}

ul.config span.configprefix {
	margin: 0 0 0 15px;
	font-variant: small-caps;
	font-size: 16pt;
	font-weight: bold;
}

ul.config input[type=text] {
	width: 300px;
}

/*
.cancel {
	float: left;
}

.confirm {
	float: right;
}
*/

/* darknet page */

table.darknet_connections th, table.darknet_connections td {
	font-size: 8pt;
}

table.darknet_connections span {
	font-weight: bold;
	font-size: 8pt;
}

table.darknet_connections span.peer_connected {
	color: #008000;
}

table.darknet_connections span.peer_backedoff {
	color: #ff0000;
}

table.darknet_connections span.peer_incompatible {
	color: #d0a0d0;
}

table.darknet_connections span.peer_disconnected {
	color: #d0d0d0;
}

tr.messagetypes {
	text-align: center;
}

table.sentmessagetypes {
	display: inline;
}

table.receivedmessagetypes {
	display: inline;
}

table.sentmessagetypes th, table.sentmessagetypes td, table.receivedmessagetypes th, table.receivedmessagetypes td {
	font-size: 7pt;
}
