/* overall settings */

p, span, div, td, th, li, h1, h2, h3, h4, h5 {
	font-family: Arial;
	font-weight: normal;
	font-size: 11pt;
}

th {
	font-weight: bold;
}

pre, textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: 8pt;
}

/* body and page header */

body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	position: relative;
}

#topbar {
	margin: 0;
	padding: 5px;
	min-height: 50px;
	background-color: #e8e8e8;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 30px 3px;
	border-bottom: 1px solid #d0d0d0;
}

#topbar h1 {
	margin: 0;
	padding: 7px 0 0 0;
	text-align: center;
	font-size: 20pt;
}

/* navigation */

#navbar {
	margin: 5px 5px 0 0;
	padding: 10px;
	width: 150px;
	float: left;
	background-color: #e8e8e8;
	border: 1px solid #d0d0d0;
}

#navbar ul {
	margin: 0 0 0 30px;
	padding: 0;
}

#navbar li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navbar a {
	color: #000000;
	text-decoration: none;
}

#navbar a:hover {
	color: #ff0000;
}

/* content */

#content {
	float: left;
}

a {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

.infobox {
	margin: 5px 0 5px 0;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

.infobox h2 {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	border-bottom: 1px dotted #a0a0a0;
	font-weight: bold;
	font-size: 11pt;
	background-color: #e8e8e8;
}

.interfacelink {
	color: #000000;
	text-decoration: underline;
}

#activity {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* configuration page */

.config ul {
	margin: 5px 0 5px 0;
	padding: 0;
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

.config li {
	margin: 0;
	padding: 15px;
	list-style: none;
	text-align: right;
}

.config li input {
	width: 300px;
}

.cancel {
	float: left;
}

.confirm {
	float: right;
}

/* darknet page */

table.darknet_connections {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

table.darknet_connections th, table.darknet_connections td {
	margin: 0;
	padding: 5px;
	border: 1px solid #d0d0d0;
	font-size: 8pt;
}

table.darknet_connections span {
	font-weight: bold;
	font-size: 8pt;
}

table.darknet_connections span.peer_connected {
	color: #008000;
}

table.darknet_connections span.peer_backedoff {
	color: #ff0000;
}

table.darknet_connections span.peer_incompatable {
	color: #d0a0d0;
}

table.darknet_connections span.peer_disconnected {
	color: #d0d0d0;
}
