/* body and page header */

body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	position: relative;
	font-family: Arial;
}

#topbar {
	margin: 0 0 5px 0;
	padding: 5px;
	min-height: 50px;
	background-color: #e8e8e8;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: 30px 3px;
	border-bottom: 1px solid #d0d0d0;
	font-family: Arial;
}

#topbar h1 {
	margin: 0;
	padding: 7px 0 0 0;
	text-align: center;
	font-weight: normal;
	font-size: 20pt;
}

/* navigation */

#navbar {
	margin:0 5px 0 0;
	padding:10px;
	width:150px;
	float:left;
	background-color:#e8e8e8;
	border:1px solid #d0d0d0;
}

#navbar ul {
	margin: 0 0 0 30px;
	padding: 0;
}

#navbar li {
	margin: 0;
	padding: 0;
  list-style-type: none;
}

#navbar a {
	color: #000000;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
}

#navbar a:hover {
	color: #ff0000;
}

/* content */

#content {
	float: left;
	max-width: 80%;
}

pre, textarea {
	font-size: 70%;
}

.infobox, .config ul {
	margin: 0 0 5px 0;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

.infobox h2 {
	margin: -10px;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px dotted #000000;
	font-family: Arial;
	font-weight: bold;
	font-size: 110%;
	background-color: #e8e8e8;
}

.interfacelink {
	color: #000000;
	text-decoration: underline;
}

#activity {
	list-style-position: inside;
}

.config ul {
	margin: 0 0 15px 0;
	padding: 10px 10px 10px 20px;
}

.cancel {
	float: left;
}

.confirm {
	float: right;
}

table.darknet_connections {
	font-size: 80%;
	margin: 0px;
	padding: -5px;
}

/*.darknet_connections td {
	border: 1px solid #d0d0d0;
}*/

.peer_connected {
	color: green;
}

.peer_backedoff {
	color: red;
}

.peer_incompatable {
	color: blue;
}

.peer_disconnected {
	color: black;
}
