
/* clean-static theme */

/* Basic CSS functions */
@import url(/static/baseelements.css);
@import url(/static/color.css);
@import url(/static/statusbar.css);
@import url(/static/bookmark.css);

/* navigation behavior */
@import url(/static/behavior-static.css);

/* layout */
@import url(/static/themes/clean/layout.css);

/* color scheme */
@import url(/static/themes/clean/color.css);
