/* 
 * Overall Settings
 */

/* Notes */

/* <a> tags should usually fill their entire container. This
 * means no margins on a tags nor padding on their parents. 
 * Doing this avoids problems with the menus where some area
 * that looks like it should be clickable isn't, or something
 * that should cause a hover effect doesn't. */ 

/* base font settings for entire page */

div,
body,
h1,
h2,
h3,
h4,
h5,
li,
p,
span,
td,
th {
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}*/

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
}

td,
th {
	margin: 0;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

pre,
textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: 0.8em; /* 0.8em ~ 9pt based on an 11pt reference */
}

form,
pre,
table {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

/*
 * Body and Page Header
 */

body {
	margin: 0;
	padding: 0;
}

/*
 * Top Title Area
 */

#topbar {
	background-image: url(logo.png);
	background-position: 30px 3px;
	background-repeat: no-repeat;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0;
	min-height: 50px;
	padding: 5px;
}

#topbar h1 {
	font-size: 1.818em; /* 1.818em = 20pt based on an 11pt reference */
	margin: 0;
	padding: 0;
	padding-top: 0.35em; /* 7px based on an 20pt reference */
	text-align: center;
}

