/* 
 * Overall Settings
 */

/* Notes */

/* <a> tags should usually fill their entire container. This
 * means no margins on a tags nor padding on their parents. 
 * Doing this avoids problems with the menus where some area
 * that looks like it should be clickable isn't, or something
 * that should cause a hover effect doesn't. */ 

/* base font settings for entire page */

div,
body,
h1,
h2,
h3,
h4,
h5,
li,
p,
span,
td,
th {
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
}*/

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
}

td,
th {
	margin: 0;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

pre,
textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: .8em;
}

form,
pre,
table {
	margin: 0 0 5px 0;
	padding: 0;
}

