/* layout-grayandblue-classic */

/* Base theme */
@import url(/static/themes/grayandblue/layout.css);

/* navigation */

div#navbar {
	float: none;
	position: absolute;
}

div#navbar ul li ul.subnavlist {
	display: none;
}

div#navbar ul:hover + li ul.subnavlist {
	display: none;
}

div#navbar ul#navlist li:hover ul.subnavlist {
	display: none;
}
