/* minimalist */

/* Base theme */
@import url(/static/clean-dropdown-old.css);

/* Default pictures won't render nice with this theme */
@import url(/static/picturesnullifier.css);

/* minimalist overall settings */

/* *****************************************************************
 *                     minimalistic additions
 * *****************************************************************/

/* *****************************************************************
 *                     general layout settings
 * *****************************************************************/

a.bookmark-title,
p.click-for-more,
span.freenet-full-version,
span.freenet-ext-version,
div.bookmarks-box li.cat, div#freenet-version div.infobox-header,
div.bookmarks-box div.infobox-header span.edit-bracket,
div.bookmarks-box div.infobox-header a.bookmarks-header-text,
div#content div#messages-summary-box,
div#fetch-key div.infobox-header,
div#fetch-key div form div span,
div#freenet-version div.infobox-content br,
div#search-freenet div.infobox-header span,
div#statusbar div#statusbar-alerts div.infobox-header {
	display: none;
}

div.bookmarks-box tr,
div.bookmarks-box tr td,
div.bookmarks-box ul#bookmarks,
div.bookmarks-box table,
div.bookmarks-box li,
div.bookmarks-box td a img,
div#freenet-version div.infobox-content form,
div#freenet-version div.infobox-content div {
	display: inline;
}

div.bookmarks-box a img {
	display: block;
}

body,
div.bookmarks-box,
div.bookmarks-box div,
div#freenet-version,
div#freenet-version div.infobox-content form input[type=submit],
div#search-freenet,
div#search-freenet .infobox-header,
div#search-freenet form input[type=submit],
div#fetch-key,
div#fetch-key div.infobox-content form div input[type=submit],
div#statusbar,
div#statusbar-container,
div#topbar,
div#navbar,
div#content {
	background-color: white !important;
}

div.bookmarks-box,
div.bookmarks-box div.infobox-header,
div.bookmarks-box *,
div.bookmarks-box tr, 
div.bookmarks-box tr td, 
div.bookmarks-box ul#bookmarks, 
div.bookmarks-box table, 
div.bookmarks-box li,
div#content div.infobox.infobox-summary-status-box,
div#content div.infobox.infobox-summary-status-box div.infobox-header,
div#content div.infobox.infobox-summary-status-box div.infobox-content,
div#search-freenet,
div#search-freenet .infobox-header,
div#statusbar,
div#statusbar-container,
div#topbar,
div#topbar h1,
div#navbar,
div#fetch-key {
	margin: 0;
}

div.infobox-header,
div.bookmarks-box,
div.bookmarks-box
div.bookmarks-box *,
div.bookmarks-box tr,
div.bookmarks-box tr td,
div.bookmarks-box ul#bookmarks,
div.bookmarks-box table,
div.bookmarks-box li,
div#content div.infobox.infobox-summary-status-box,
div#content div.infobox.infobox-summary-status-box div.infobox-header,
div#content div.infobox.infobox-summary-status-box div.infobox-content,
div#search-freenet,
div#search-freenet .infobox-header,
div#fetch-key,
div#statusbar,
div#statusbar-container,
div#topbar,
div#topbar h1,
div#navbar,
div#freenet-version div.infobox-content form input[type=submit] {
	padding: 0;
}

body {
	/* Height of the status bar (+ some margin) */
	padding-bottom: 1.5em;
}

/* *****************************************************************
 *                           header
 * *****************************************************************/

div#topbar, div#navbar {
	border: none;
	padding-bottom: 2px;
}

div#topbar {
	float: right;
	min-height: 0;
}

div#topbar h1 {
	font-size: 1em;
	padding-top: 3px;
	padding-right: 8px;
	text-align: left;
}

div#navbar {
	float: left;
	padding-top: 3px;
}

div#navbar ul li {
	margin-left: 2px;
	margin-right: 3px;
}

div#navbar ul li ul {
	background-color: white;
	border: 1px solid blue;
}

div#navbar ul li a, div#navbar ul li a:hover, div#navbar ul#navlist li.navlist-selected ul.subnavlist-selected li.submenuitem-selected a {
	color: blue;
	background-color: white;
}

div#navbar ul#navlist li.navlist-selected a {
	color: black;
	font-weight: bold;
	background-color: white;
	text-decoration: none;
}

div#navbar ul#navlist li ul li a:hover, div#navbar ul#navlist li.navlist-selected ul.subnavlist-selected li a:hover {
	color: white;
	background-color: blue;
}

div#navbar ul#navlist li ul li a, div#navbar ul#navlist li.navlist-selected ul li a {
	color: blue;
	font-weight: normal;
	background-color: white;
}

div#navbar ul#navlist li.navlist-selected ul li.submenuitem-selected a {
	color: black;
	background-color: white;
	font-weight: bold;
}

div#content {
	border-top: 1px solid #CCF;
	padding-top: 5px;
	clear: both;
}

/* *****************************************************************
 *                     infoboxes settings
 * *****************************************************************/

div.infobox {
	background-color: #EEF;
	border: 3px solid #CCF;
	color: black;
	width: auto;
}

div.infobox div.infobox-header {
	background-color: #CCF;
	color: black;
	padding: 3px;
	padding-top: 0;
	border: none;
}

div.infobox-warning, div.infobox.infobox-summary-status-box {
	border-color: #FFFC66;
	background-color: #FFFEC0;
}

div.infobox-warning div.infobox-header, div.infobox.infobox-summary-status-box div.infobox-header {
	background-color: #FFFC66;
}

div.infobox-error, div.infobox.infobox-summary-status-box.infobox-error {
	border-color: #D88;
	background-color: #DCC;
}

div.infobox-error div.infobox-header, div.infobox.infobox-summary-status-box.infobox-error div.infobox-header {
	background-color: #D88;
}

div.infobox-alert, div.infobox.infobox-summary-status-box.infobox-alert {
	border-color: #B488DD;
	background-color: #C9B9DD;
}

div.infobox-alert div.infobox-header, div.infobox.infobox-summary-status-box.infobox-alert div.infobox-header {
	background-color: #B488DD;
}

div.infobox-minor {
	border-color: #50DD75;
	background-color: #B9DDC3;
}

div.infobox-minor div.infobox-header {
	background-color: #50DD75;
}

div#content div.infobox.infobox-summary-status-box {
	position: absolute;
	top: 2em;
	left: 5px;
}

div#content div.infobox.infobox-summary-status-box div.infobox-content li {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

/* *****************************************************************
 *                     statusbar settings
 * *****************************************************************/

div#statusbar-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 18;
	border: none;
}

div#statusbar {
	border: none;
	height: 1.5em;
	padding-top: 0.25em;
	border-top: 1px solid #CCF;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

div#statusbar div {
	float: left;
}

div#statusbar div.separator {
	width: 1px;
	background-color: #CCF;
	margin-left: 15px;
	margin-right: 15px;
}

/* *****************************************************************
 *                 welcome page specific settings
 * *****************************************************************/

div#search-freenet {
	border: none;
	text-align: center;
	padding-top:10%;
}

div#search-freenet span {
	font-size: 0.9em;
	display: block;
	width: 450px;
	font-style: italic;
	margin: auto;
}

div#search-freenet form input[type=submit], div#fetch-key div.infobox-content form div input[type=submit] {
	border: 1px solid blue;
	color: blue;
	margin-left: 3px;
	width: 110px;
}

div#search-freenet form input[type=text], div#fetch-key div.infobox-content form div input[type=text] {
	border: 1px solid #CCC;
	color: #555;
	width: 400px;
}

div#search-freenet .infobox-header {
	text-align: center;
	border: none;
	height: 65px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/themes/minimalist/freenetlogo.png);
}

div.bookmarks-box, div.bookmarks-box *{
	border: none;
	text-align: center;
}

div.bookmarks-box div.infobox-content ul {
	width: 600px;
	margin: auto; 
}

div.bookmarks-box td a img {
	border: none;
}

div.bookmarks-box div.infobox-header a.interfacelink {
	font-size: 12px;
	color: #88D;
}

div.bookmarks-box a img {
	padding: 1px;
	width: 108px;
	height: 36px;
}

div#fetch-key {
	border: none;
	text-align: center;
}

div#freenet-version {
	border: none;
	text-align: center;
	margin-top: 10px;
}

div#freenet-version div.infobox-content form input[type=submit] {
	margin-right: 8px;
	color: #CCF;
	border: none;
	font-size: 0.9em;
	border: 1px solid #CCF;
}
