/* Bookmarks & bookmark editor */
@import url(/static/bookmark.css);

/* clean overall settings */

p, span, div, td, th, li, h1, h2, h3, h4, h5 {
	font-family: Arial;
	font-weight: normal;
	font-size: 11pt;
}

table {
	border-collapse: collapse;
}

th {
	font-weight: bold;
	background-color: #e8e8e8;
}

th, td {
	margin: 0;
	padding: 5px;
	border: 1px solid #d0d0d0;
}

pre, textarea {
	font-family: Courier;
	font-weight: normal;
	font-size: 8pt;
}

pre#reference {
	overflow: auto;
}

table, pre {
	margin: 0 0 5px 0;
	padding: 0;
}

form {
	margin: 0 0 5px 0;
	padding: 0;
}

/* body and page header */

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

#page {
}

/* page's topbar */

#topbar {
	float: right;
	margin: 0;
	padding: 0;
	background-color: white;
}

#topbar h1 {
	margin: 0;
	padding-top: 3px;
	padding-right: 8px;
	text-align: left;
}

/* navigation */

div#navbar {
	background-color: white;
	float: left;
	padding: 0;
}

div#navbar ul li, div#navbar ul li ul li {
	list-style-type: none;
}

div#navbar ul li {
	position: relative;
}

div#navbar ul li {
	padding: 0;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}

div#navbar ul li a {
	color: blue;
	text-decoration: underline;
}

div#navbar ul li ul li {
	text-align: left;
	font-size: 0.9em;
	display: block;
	margin: 0;
}

div#navbar ul li#navlist-selected a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div#navbar ul li ul li a, div#navbar ul li#navlist-selected ul li a {
	display: block;
	padding: 8px;
	padding-bottom: 3px;
	padding-top: 3px;
	text-decoration: none;	
	font-weight: normal;
	color: blue;
	margin: 0;
}

div#navbar ul li ul li a:hover, div#navbar ul li#navlist-selected ul li a:hover {
	color: white;
	background-color: blue;
}

div#navbar ul li#navlist-selected ul.subnavlist-selected li.submenuitem-selected a {
	font-weight: bold;
}

div#navbar ul {
	padding-left: 5px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	margin: 0;
	text-align: center;
}

div#navbar ul li ul {
	display: none;
	margin: 0;
	padding: 0;
}

div#navbar ul li:hover ul, div#navbar ul li ul:hover {
	display: block;
	position: absolute;
	border: 1px solid blue;
	background-color: white;
	top: 1em;
	left: 0;
	width: 170px;
	z-index: 20;
	overflow: hidden;
}

div#selected-subnavbar {
	display: none;
}

/* infoboxes */

div.infobox {
	margin: 0 0 5px 0;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
}

div.infobox div.infobox-header {
	margin: -10px -10px 10px -10px;
	padding: 10px 35px 10px 10px;
	border-bottom: 1px dotted #a0a0a0;
	font-weight: bold;
	font-size: 11pt;
	background-color: #e8e8e8;
	background-repeat: no-repeat;
	background-position: right;
}

div.infobox-information div.infobox-header {
	background-color: #e8e8f0;
	background-image: url(information.gif);
}

div.infobox-warning div.infobox-header {
	background-color: #f8f8c0;
	background-image: url(warning.gif);
}

div.infobox-alert {
	background-color: #f0e8e8;
}

div.infobox-alert div.infobox-header {
	background-color: #ffd0d0;
	background-image: url(alert.gif);
}

div.infobox-error {
	background-color: #f0e8e8;
}

div.infobox-error div.infobox-header {
	background-color: #ffd0d0;
	background-image: url(error.gif);
}

div.infobox-query div.infobox-header {
	background-color: #f0f0e8;
	background-image: url(query.gif);
}

div.infobox-success div.infobox-header {
	background-color: #e8f0e8;
	background-image: url(success.gif);
}

ul.alert-summary {
	list-style-type: none;
	text-indent: 20px;
}

li.alert-summary-text-error {
	background: url(error-16.gif) left center no-repeat;
}

li.alert-summary-text-alert {
	background: url(alert-16.gif) left center no-repeat;
}

li.alert-summary-text-warning {
	background: url(warning-16.gif) left center no-repeat;
}

li.alert-summary-text-minor {
	background: url(information-16.gif) left center no-repeat;
}

/* content */

#content {
	margin: 5px;
	padding: 0;
	clear: both;
}

a {
	color: #000000;
}

a:hover {
	color: #ff0000;
}

.interfacelink {
	color: #000000;
	text-decoration: underline;
}

#activity {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* plugins page */

table.plugins th, table.plugins td {
	font-size: 8pt;
}

table.plugins span {
	font-weight: bold;
	font-size: 8pt;
}

table.plugins form {
	display: inline;
}

/* configuration page */

td.config_navigation {
	border-style: none;
}

ul.config {
	margin: 0 0 5px 0;
	padding: 0;
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
}

ul.config li {
	margin: 0;
	padding: 15px 10px 15px 10px;
	list-style: none;
	text-align: left;
	border-bottom: 1px solid #d0d0d0;
}

ul.config{
	margin: 0;
	padding: 10px 35px 10px 10px;
	display: block;
	border-bottom: 1px dotted #a0a0a0;
	font-weight: bold;
	font-size: 16pt;
	background-color: #e8e8e8;
}

div.configprefix {
	font-weight: bold;
	font-size: 16pt;
	font-variant: small-caps;
}

ul.config span.configshortdesc {
	text-align: left;
	font-weight: bold;
	float: left;
	width: 30%;
}

ul.config span.configlongdesc {
	display: block;
	text-align: left;
	padding-top: 15px;
}

ul.config input[type=text] {
	width: 70%;
}

/* darknet page */

table.darknet_connections th, table.darknet_connections td {
	font-size: 8pt;
}

table.column td {
	vertical-align: top;
}

table.darknet_connections span, table.column span {
	font-weight: bold;
	font-size: 8pt;
}

table.column span {
	text-transform: uppercase;
}

div.infobox-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

span.peer_connected {
	color: #008000;
}

span.peer_backed_off {
	color: #ff8c00;
}

span.peer_too_new {
	color: #ff0000;
}

span.peer_too_old {
	color: #d0a0d0;
}

span.peer_disconnected {
	color: #d0d0d0;
}

span.peer_routing_disabled {
        color: #7b68ee;
}

span.peer_never_connected {
	color: #a0a0a0;
}

span.peer_disabled {
	color: #a0a0a0;
}

span.peer_bursting {
	color: #a0a0a0;
}

span.peer_listening {
	color: #a0a0a0;
}

span.peer_listen_only {
	color: #a0a0a0;
}

span.peer_version_problem {
	color: #d07070;
}

span.peer_idle_old {
	color: #d07070;
}

tr.messagetypes {
	text-align: center;
}

tr.darknet_connections_warning {
	background-color: #ffff00;
}

table.sentmessagetypes {
	display: inline;
}

table.receivedmessagetypes {
	display: inline;
}

table.sentmessagetypes th, table.sentmessagetypes td, table.receivedmessagetypes th, table.receivedmessagetypes td {
	font-size: 7pt;
}

/* statistics page */

div.peercircle {
  margin: 0 auto;
}

div.peercircle span.mark {
  color: #d0d0d0;
}

div.peercircle span.me {
  color: #0080ff;
  font-weight: bold;
}

div.peercircle span.connected {
  color: #008000;
  font-weight: bold;
}

div.peercircle span.backed_off {
  color: #008000;
  font-weight: bold;
}

div.peercircle span.disconnected {
  color: #d0d0d0;
  font-weight: bold;
}

div.histogramLabel {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 60%;
}

div.histogramConnected {
  background-color: #008000;
}

div.histogramDisconnected {
  background-color: #d0d0d0;
}

/* queue page */

table.queue th, table.queue td {
	font-size: 8pt;
}

div.queue_tabletitle {
	margin: 0;
	padding: 10px 0 10px 0;
	font-size: 10pt;
}

table.queue span {
	font-size: 8pt;
}

table.queue span.failure_reason_unknown {
	color: #d0d0d0;
}

table.queue span.failure_reason_is {
}

table.queue span.progress_fraction_unknown {
	color: #d0d0d0;
}

table.queue span.number_of_files {
}

table.queue span.filename_direct {
	color: #d0d0d0;
}

table.queue span.filename_none {
	color: #d0d0d0;
}

table.queue span.filename_is {
}

table.queue span.identifier_with_uri {
}

table.queue span.persistence_none {
}

table.queue span.persistence_reboot {
	color: #0000ff;
}

table.queue span.persistence_forever {
	color: #00b000;
}

table.queue span.mimetype_unknown {
	color: #d0d0d0;
}

table.queue span.mimetype_is {
}

table.queue span.filesize_unknown {
	color: #d0d0d0;
}

table.queue span.filesize_is {
}

table.queue span.key_unknown {
	color: #d0d0d0;
}

table.queue span.key_is {
}

.progressbar {
	position: relative;
	height: 18px;
	width: 130px;
	border: solid 1px #444444;
	background-color: #e8e8e8;
}

.progressbar-done {
	float: left;
	height: 18px;
	background-color: #44cc44;
}

.progressbar-min {
	float: left;
	height: 18px;
	background-color: #cce8cc;
}

.progressbar-failed {
	float: left;
	height: 18px;
	background-color: #ffcccc;
}

.progressbar-failed2 {
	float: left;
	height: 18px;
	background-color: #ff4444;
}

.progress_fraction_finalized {
	position: absolute;
	left: 5px;
	font-weight: bold;
}

.progress_fraction_not_finalized {
	position: absolute;
	left: 5px;
	font-style: italic;
}

tr.priority0, td.priority0 {
/*	background-color: #eb613d;*/
	background-color: #ffb7b7;
}

tr.priority1, td.priority1 {
/*	background-color: #007ee0;*/
	background-color: #ffcea7;
}

tr.priority2, td.priority2 {
/*	background-color: #00e0ce;*/
	background-color: #ffeba7;
}

tr.priority3, td.priority3 {
/*	background-color: #00e094;*/
	background-color: #ddffa7;
}

tr.priority4, td.priority4 {
/*	background-color: #00e069;*/
	background-color: #a7ffbc;
}

tr.priority5, td.priority5 {
/*	background-color: #00e010;*/
	background-color: #a7fff8;
}

tr.priority6, td.priority6 {
/*	background-color: grey;*/
	background-color: #a7caff;
}

div.n2ntm-message-text {
	margin: 10px;
	padding: 10px;
	background-color: #ffffff;
}

td.n2ntm-send-sent {
	background-color: #a7ffbc;
}

td.n2ntm-send-delayed {
	background-color: #ffeba7;
}

td.n2ntm-send-queued {
	background-color: #ffa7a7;
}

td.n2ntm-send-failed {
	background-color: #ffb7b7;
}

/* translation */

.translate_d {
	background-color: #f0fef0;
}

/* *****************************************************************
 *                     minimalistic additions
 * *****************************************************************/

/* *****************************************************************
 *                     general layout settings
 * *****************************************************************/

a.bookmark-title,
p.click-for-more,
span.freenet-full-version,
span.freenet-ext-version,
div.bookmarks-box li.cat, div#freenet-version div.infobox-header,
div.bookmarks-box div.infobox-header span.edit-bracket,
div.bookmarks-box div.infobox-header a.bookmarks-header-text,
div#content div.infobox-summary-status-box,
div#content div#messages-summary-box,
div#content div.infobox.infobox-summary-status-box div.infobox-content li,
div#fetch-key div.infobox-header,
div#fetch-key div form div span,
div#freenet-version div.infobox-content br,
div#search-freenet div.infobox-header span,
div#statusbar div#statusbar-alerts div.infobox-header {
	display: none;
}

div.bookmarks-box tr,
div.bookmarks-box tr td,
div.bookmarks-box ul#bookmarks,
div.bookmarks-box table,
div.bookmarks-box li,
div.bookmarks-box td a img,
div#freenet-version div.infobox-content form,
div#freenet-version div.infobox-content div {
	display: inline;
}

div.bookmarks-box a img,
div#content div.infobox-error.infobox-summary-detailed,
div#content div.infobox-error.infobox-summary-detailed div.infobox-header,
div#content div.infobox-error.infobox-summary-detailed div.infobox-content,
div#content div.infobox.infobox-summary-status-box:hover div.infobox-content li,
div#content div.infobox.infobox-summary-status-box div.infobox-content li.alert-summary-text-error {
	display: block;
}

body,
div.bookmarks-box,
div.bookmarks-box div,
div#freenet-version,
div#freenet-version div.infobox-content form input[type=submit],
div#search-freenet,
div#search-freenet .infobox-header,
div#search-freenet form input[type=submit],
div#fetch-key,
div#fetch-key div.infobox-content form div input[type=submit],
div#statusbar,
div#content {
	background-color: white !important;
}

div.bookmarks-box,
div.bookmarks-box div.infobox-header,
div.bookmarks-box *,
div.bookmarks-box tr, 
div.bookmarks-box tr td, 
div.bookmarks-box ul#bookmarks, 
div.bookmarks-box table, 
div.bookmarks-box li,
div#content div.infobox.infobox-summary-status-box,
div#content div.infobox.infobox-summary-status-box div.infobox-header,
div#content div.infobox.infobox-summary-status-box div.infobox-content,
div#search-freenet,
div#search-freenet .infobox-header,
div#fetch-key {
	margin: 0;
}

div.infobox-header,
div.bookmarks-box,
div.bookmarks-box
div.bookmarks-box *,
div.bookmarks-box tr,
div.bookmarks-box tr td,
div.bookmarks-box ul#bookmarks,
div.bookmarks-box table,
div.bookmarks-box li,
div#content div.infobox.infobox-summary-status-box,
div#content div.infobox.infobox-summary-status-box div.infobox-header,
div#content div.infobox.infobox-summary-status-box div.infobox-content,
div#search-freenet,
div#search-freenet .infobox-header,
div#fetch-key,
div#freenet-version div.infobox-content form input[type=submit] {
	padding: 0;
}

div#content {
	border-top: 1px solid #CCF;
	padding-top: 5px;
}

body {
	padding-bottom: 1.5em;
}

/* *****************************************************************
 *                     infoboxes settings
 * *****************************************************************/

div.infobox {
	background-color: #EEF;
	border: 3px solid #CCF;
	color: black;
	overflow: auto;
}

div.infobox div.infobox-header {
	background-color: #CCF;
	color: black;
	padding: 3px;
	padding-top: 0;
	border: none;
}

div.infobox-warning, div.infobox.infobox-summary-status-box {
	border-color: #FFFC66;
	background-color: #FFFEC0;
}

div.infobox-warning div.infobox-header, div.infobox.infobox-summary-status-box div.infobox-header {
	background-color: #FFFC66;
}

div.infobox-error, div.infobox.infobox-summary-status-box.infobox-error {
	border-color: #D88;
	background-color: #DCC;
}

div.infobox-error div.infobox-header, div.infobox.infobox-summary-status-box.infobox-error div.infobox-header {
	background-color: #D88;
}

div#content div.infobox.infobox-summary-status-box {
	position: absolute;
	top: 2em;
	left: 5px;
}

div#content div.infobox.infobox-summary-status-box div.infobox-content li {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

/* *****************************************************************
 *                     statusbar settings
 * *****************************************************************/

div#statusbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.5em;
	padding-top: 0.25em;
	border-top: 1px solid #CCF;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 10;
}

div#statusbar div {
	float: left;
}

div#statusbar div.separator {
	width: 1px;
	background-color: #CCF;
	margin-left: 15px;
	margin-right: 15px;
}

div#statusbar div#statusbar-peers {
	font-weight: bold;
}

div#statusbar div#statusbar-peers.no-peers {
	color: #700;
}

div#statusbar div#statusbar-peers.very-few-peers {
	color: #700;
}

div#statusbar div#statusbar-peers.few-peers {
	color: #FA0;
}

div#statusbar div#statusbar-peers.avg-peers {
	color: #FA0;
}

div#statusbar div#statusbar-peers.lots-of-peers {
	color: green;
}

div#statusbar div#statusbar-seclevels a {
	text-decoration: none;
	padding-left: 5px;
}

div#statusbar div#statusbar-seclevels a.low {
	color: #700;
}

div#statusbar div#statusbar-seclevels a.normal {
	color: #b66700;
}

div#statusbar div#statusbar-seclevels a.high {
	color: green;
}

div#statusbar div#statusbar-seclevels a.maximum {
	color: #d9bd00;
}

div#statusbar div#statusbar-alerts.contains-error, div#statusbar div#statusbar-alerts.contains-error a {
	background-color: #ff7f7f;
}

div#statusbar div#statusbar-alerts.contains-warning, div#statusbar div#statusbar-alerts.contains-warning a,
div#statusbar div#statusbar-alerts.contains-alert, div#statusbar div#statusbar-alerts.contains-alert a{
	background-color: yellow;
}

div#statusbar div#statusbar-alerts.contains-information, div#statusbar div#statusbar-alerts.contains-information a {
	color: blue;
}

/* *****************************************************************
 *                 welcome page specific settings
 * *****************************************************************/

div#search-freenet {
	border: none;
	text-align: center;
	padding-top:10%;
}

div#search-freenet span {
	font-size: 0.9em;
	display: block;
	width: 450px;
	font-style: italic;
	margin: auto;
}

div#search-freenet form input[type=submit], div#fetch-key div.infobox-content form div input[type=submit] {
	border: 1px solid blue;
	color: blue;
	margin-left: 3px;
	width: 110px;
}

div#search-freenet form input[type=text], div#fetch-key div.infobox-content form div input[type=text] {
	border: 1px solid #CCC;
	color: #555;
	width: 400px;
}

div#search-freenet .infobox-header {
	text-align: center;
	border: none;
	height: 65px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/static/themes/minimalist/freenetlogo.png);
}

div.bookmarks-box, div.bookmarks-box *{
	border: none;
	text-align: center;
}

div.bookmarks-box div.infobox-content ul {
	width: 600px;
	margin: auto; 
}

div.bookmarks-box td a img {
	border: none;
}

div.bookmarks-box div.infobox-header a.interfacelink {
	font-size: 12px;
	color: #88D;
}

div.bookmarks-box a img {
	padding: 1px;
	width: 108px;
	height: 36px;
}

div#fetch-key {
	border: none;
	text-align: center;
}

div#freenet-version {
	border: none;
	text-align: center;
	margin-top: 10px;
}

div#freenet-version div.infobox-content form input[type=submit] {
	margin-right: 8px;
	color: #CCF;
	border: none;
	font-size: 0.9em;
	border: 1px solid #CCF;
}