/* color-grayandblue-dropdown */

/* Base theme */
@import url(/static/themes/grayandblue/color.css);

/* clean-dropdown overall settings */

div#navbar ul li ul {
	background-color: #e8e8e8;
	border-color: black;
}

div#navbar ul#navlist li.navlist-selected a, div#navbar ul#navlist li.navlist-selected ul li.submenuitem-selected a {
	color: blue;
	background-color: inherit;
}