/* minimalblue */

/*****************/
/* Global config */
/*****************/

/* Basic CSS functions */
@import url(/static/base.css);

@import url(/static/bookmark.css);

/* Status bar style & colors */
@import url(/static/statusbar.css);

/* minimal blue overall settings */

body{
width: 100%;
margin: auto;
padding-top: 5px;
padding-bottom: 2em;
color: #fff;
background: #2573b8;
}
img{
display: block;
}
a{
text-decoration: none;
color: #ddd;
}
a:hover{
color: #fff;
}

table {
border-collapse: collapse;
}

th {
font-weight: bold;
background-color: #156098;
}

th, td {
margin: 0;
padding: 5px;
border: solid 1px white;
}

pre, textarea {
font-family: Courier;
font-weight: normal;
font-size: 8pt;
}

pre#reference {
overflow: auto;
}

table, pre {
margin: 0 0 5px 0;
padding: 0;
}

form {
margin: 0 0 5px 0;
padding: 0;
}


/************************/
/* End of Global config */
/************************/


/*********************/
/* Status bar config */
/*********************/
/*
#status_bar{
width: 90%;
margin: auto;
padding: 3px;
}
.blocking{
background: red;
}
.non_blocking{
background: #ff7100;
}
.ok{
background: green;
}
p{
text-align: center;
font-size: 14px;
}
p, p a{
color: #fff;
}
*/
/****************************/
/* End of Status bar config */
/****************************/

/***************/
/* Menu config */
/***************/

#navbar a{
color: #ddd;
}
#navbar a:hover{
color: #fff;
}

#navbar{
/*float: left;*/
width: 100%;
overflow:hidden;
position:relative;
top: 0px;
background: #2573b8;
}
#navbar ul#navlist{
clear:left;
float:left;
position:relative;
left:50%;
text-align:center;
}
#navbar ul, #navbar ul li{
list-style:none;
margin:0;
padding: 0;
}
#navbar ul li{
display:block;
float:left;
position:relative;
right:50%;
color: #ff7100;
background: #156098;
margin-left: 3px;
}
#navbar ul li.selected, #navbar ul li:hover{
color: #0092a4;
background: #035196;
}
#navbar ul li.selected a{
color: #0092a4;
cursor: default;
padding: 5px;
}

#navbar ul li a{
display:block;
text-align:center;
text-decoration:none;
margin:auto;
font-size: 12px;
font-weight: bold;
padding: 5px;
padding-left: 4px;
padding-right: 4px;
}

.navlist-selected a{
    background: #035196;
    color: #fff;
}

/* subnavbar section */
#selected-subnavbar a{
color: #ddd;
}

#selected-subnavbar a:hover{
color: #fff;
}

#selected-subnavbar{
/*float: left;*/
width: 100%;
overflow:hidden;
position:relative;
top: 0px;
/*background: #2573b8;*/
background: none;
margin-top: 12px;
margin-bottom:20px;
}
#selected-subnavbar ul#selected-subnavbar-list{
clear:left;
float:left;
position:relative;
left:50%;
text-align:center;
}
#selected-subnavbar ul, #selected-navbar ul li{
list-style:none;
margin:0;
padding: 0;
}
#selected-subnavbar ul li{
display:block;
float:left;
position:relative;
right:50%;
color: #ff7100;
background: #156098;
margin-left: 3px;
}
#selected-subnavbar ul li.selected, #selected-subnavbar ul li:hover{
color: #0092a4;
background: #035196;
}
#selected-subnavbar ul li.selected a{
color: #0092a4;
cursor: default;
padding: 5px;
}

#selected-subnavbar ul li a{
display:block;
text-align:center;
text-decoration:none;
margin:auto;
font-size: 12px;
font-weight: bold;
padding: 5px;
padding-left: 4px;
padding-right: 4px;
}

#selected-subnavbar-list a{
    background:#444;
}

#selected-subnavbar-list .submenuitem-selected a{
    background:#E25622;
    color: #fff;
}

#navlist .subnavlist {
    display:none;
}

#navlist .subnavlist-selected {
    display:none;
}
/**********************/
/* End of Menu config */
/**********************/

#content{
clear:both;
color: #fff;
width: 90%;
margin: auto;
background: #035196;
border-bottom: solid 1px black;
border-right: solid 1px black;
padding: 0;
padding-top: 60px;
padding-bottom: 5px;
margin-top: -60px;
}
#topbar{
width: 100%;;
margin: auto;
margin-top: 30px;
margin-bottom: 0;
}
#topbar h1{
margin: auto;
text-align: center;
font-variant: small-caps;
font-size: 300%;
background: #035196;
padding: 0;
padding-top: 10px;
padding-bottom: 10px;
}

/* alerts */

.alert-error {
color: #ff0000;
}

.alert-warning {
color: #ff4000;
}

.alert-minor {
color: green;
}

/* infoboxes */

div.infobox{
margin: auto;
padding: 0;
margin-left:5px;
margin-right:5px;
background: #3573b8;
}

div.infobox .infobox-header{
font-size: 200%;
font-variant: small-caps;
background: #035196;
border-top: solid 1px white;
border-left: solid 1px white;
padding-left: 10px;
width: 98%;
margin: auto;
}

div.infobox .infobox-content{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 7px;
margin-top: 7px;
margin-bottom: 10px;
overflow: auto;
}

div.infobox-warning div.infobox-header {
background: #ff4000;
}

div.infobox-alert div.infobox-header {
background-color: #ff0000;
}
/*
div.infobox-error {
background-color: #f0e8e8;
}

div.infobox-error div.infobox-header {
background-color: #ffd0d0;
}

div.infobox-query div.infobox-header {
background-color: #f0f0e8;
}

div.infobox-success div.infobox-header {
background-color: #c8f0c8;
}

div.infobox-summary-status-content {
padding: 0px;
}
*/

ul.alert-summary {
list-style-type: none;
padding: 0;
}

ul.alert-summary li{
margin: 0;
}

li.alert-summary-text-error {
list-style: none;
}

li.alert-summary-text-alert {
list-style: none;
font-weight: bold;
}

li.alert-summary-text-alert a{
color: #d92;
}

li.alert-summary-text-alert a:hover{
color: #fa4;
}

li.alert-summary-text-warning {
list-style: none;
font-weight: bold;
}

li.alert-summary-text-warning a{
color: #dd5;
}

li.alert-summary-text-warning a:hover{
color: #ff7;
}

li.alert-summary-text-minor {
list-style: none;
}

li.alert-summary-text-minor a{
color: #ddd;
}

li.alert-summary-text-minor a:hover{
color: #fff;
}

li.cat{
font-size: 150%;
font-weight: bold;
}

li{
margin-left: -40px;
list-style: none;
}

ul#bookmarks li{
margin: 0;
}

.column th, .column td{
border: none;
}

table.config_navigation {
position: relative;
left: -40px;
}

td.config_navigation, th.config_navigation{
border: none;
background: #035196;
}

.config_navigation li{
list-style: none;
padding: 0 0 0 40px;
/*background: #035196;*/
}

.config_navigation li:hover{
/*background: #035196;*/
}

ul.config li{
list-style: none;
clear: both;
margin: 0 0 20px -20px;
border-top: solid 1px white;
padding-top: 3px;
}

div.configprefix {
font-size: 150%;
font-weight: bolder;
}

.configshortdesc{
clear: both;
font-size: 130%;
}

.configlongdesc{
float: left;
clear: both;
font-weight: lighter;
font-style: italic;
color: #ddd;
}

#configForm input, #configForm select{
margin: 0 0 0 10px;
}

#configForm input{
width: 300px;
}

span.mark{
color: #035196;
}

span.connected{
color: #fff;
}

span.disconnected{
color: #aaa;
}

div.histogramConnected{
background: #fff;
}

div.histogramDisconnected{
background: #aaa;
}

span.peer_connected {
	color: #008000;
}

span.peer_backed_off {
	color: #ff8c00;
	font-weight: bold;
}

span.peer_too_new {
	color: #ff0000;
	font-weight: bold;
}

span.peer_too_old {
	color: #d0a0d0;
	font-weight: bold;
}

span.peer_disconnected {
	color: #d0d0d0;
}

span.peer_routing_disabled {
        color: #7b68ee;
}

span.peer_never_connected {
	color: #a0a0a0;
}

span.peer_disabled {
	color: #a0a0a0;
}

span.peer_bursting {
	color: #a0a0a0;
}

span.peer_listening {
	color: #a0a0a0;
}

span.peer_listen_only {
	color: #a0a0a0;
}

span.peer_version_problem {
	color: #d07070;
	font-weight: bold;
}

span.peer_idle_old {
	color: #d07070;
	font-weight: bold;
}

/* statusbar */

div#statusbar-container {
	background-color: #035196;
	font-size: 1em;
	margin-bottom: 0px;
	border-top: 1px solid black;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:18;
}

div#statusbar {
	text-align: center;
}

div#statusbar div {
	display: inline;
}

div#statusbar div.progressbar {
	display: inline-block;
	margin-bottom: -3px;
}

div#statusbar div.progressbar div.progress_fraction_finalized {
	float: left;
	overflow: hidden;
}

div#statusbar div.infobox-header {
	display: none;
}

div#statusbar div.infobox-content {
	border: none;
	padding: 0;
	margin: 0;
}

div#statusbar div.separator {
	display: inline-block;
	background-color: black;
	width: 1px;
	margin-left: 9px;
	margin-right: 9px;
}

div#statusbar-alerts.alerts-line.contains-warning div.infobox-content a {
	color: black;
}

div#statusbar div#statusbar-alerts.contains-information, div#statusbar div#statusbar-alerts.contains-information a {
	color: #AAF;
}

/* Fix: Show hidden list as list */
.hidden ol li, .hidden ol {
    list-style: decimal outside none;
    margin-left: 0px;
}